{% extends "layout.html" %}
{% block ordered %}

<main>
<a href="order.html" id="orderLink"><button>Make an Order</button></a>
<a href="payment.html"><button>Make a Deposit</button></a>
<form action='/' method="post">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  <button type='submit'>Logout</button>
</form>

<p id="orderedFlag" class="hidden">{ ordered }</p>
{% endblock %}
</main>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (orderedFlag.textContent == '1') {
      orderLink.textContent = 'View Order';
      orderLink.href = 'order_success.html';
    } 
  })
</script>


<script src="{{ url_for('static', filename='app.js') }}"></script>
