{% extends "layout.html" %}

<main>
{% block ordered %}
<a href="order.html" id="orderLink"><button id="orderBtn">Make an Order</button></a>
<a href="payment.html"><button>Make a Deposit</button></a>
<form method="post">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  <button type='submit'>Logout</button>
</form>

<div id="adminpages" class="hidden">
  <a href="manager.html">
    <button>Order Manager</button>
  </a>
  <a href="kitchen.html">
    <button>In-kitchen Display</button>
  </a>
</div>

<p id="orderedFlag" class="hidden">{{ ordered }}</p>
{% endblock %}
{% block admin %}

<p id="adminFlag" class="hidden">{{ admin }}</p>

{% endblock %}
</main>
