{% extends layout.html %}
<a href="order.html" id="orderLink"><button>Make an Order</button></a>
<a href="payment.html"><button>Make a Deposit</button></a>
<form action='/' method="post"><button type='submit'>Logout</button></form>
{% block ordered %}
<p id="orderedFlag" class="hidden">{% ordered %}</p>
{% endblock %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (orderedFlag.textContent == '1') {
      orderLink.textContent = 'View Order';
      orderLink.href = 'order_success.html';
    } 
  })
</script>