{% extends "layout.html" %}
<main>
  {% block content %}
  {% for order in content[0] %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <input type="hidden" name="id" value="{{ order[0] }}">    
    <button type="submit">Order #{{ order[0] }}</button>
  </form>
  {% endfor %}

  {% for order in content[1] %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <input type="hidden" name="id" value="{{ order[0] }}">    
    <button type="submit">Order #{{ order[0] }}</button>
  </form>
  <p>{{ order[1] }}</p>
  <br>
  {% endfor %}
  <a href="home.html">
    <button>Return Home</button>
  </a>

  {% endblock %}
</main>
