{% extends layout.html %}
<body>
  {% block content %}
  <table>
    <tr>
      {% for pizza in content[0] %}
      <!-- pizzas (by name) -->
      <td>
        <input type="checkbox" id="{% pizza %}">
        <label for="{% pizza %}">{% pizza %}</label>
      </td>
      {% endfor %}
    </tr>
    <tr>
      {% for inst in content[1] %}
      <td>
        <p>{% inst %}</p>
      </td>
      {% endfor %}
    </tr>
  </table>
  {% endblock %}
</body>
<script>
  topnav.classList.add(hidden)
</script>