{% extends "layout.html" %}
<main>

{% block content %}
<h3>Progress orders</h3>
{% for order in content[0] %}
<form method="post">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  <input type="hidden" name="id" value="order">
  <input type="hidden" name="order" value="{{ order[0] }}">
  <button type="submit">id {{ order[0] }} status {{ order[1] }}</button>
</form>
{% endfor %}

<h3>Add pizza</h3>
<form method="post">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  <input type="hidden" name="id" value="pizza">
  <input type="text" name="name" placeholder="Name">
  <input type="number" name="price" step="0.01" placeholder="Price">
  <input type="text" name="descrip" placeholder="Description">
  <button type="submit">Add pizza</button>
</form>

<p id="msg">{{ content[1] }}</p>
{% endblock %}

</main>
