{% extends "layout.html" %}
{% block content %}

<form id="order_pizzas" action="/order.html" method="post">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}">
<input type="text" name="address" value="{{ content[1] }}" placeholder="Address">

<table>
  {% for pizza in content[0] %}
  <tr id="{{ pizza[0] }}">
    <td><button type="button" class="expand">⌄</button></td>
    <td class="pizza-img long hidden"><img src="{{ url_for('static', filename='assets/' ~ pizza[0] ~ '.png') }}"></td>
    <td class="pname">{{ pizza[0] }}</td>
    <td class="descrip long hidden">{{ pizza[2] }}</td>
    <td class="price">${{ pizza[1] }}</td>
    <td class="qty">
      <p>Qty:</p>
      <button id="{{ pizza[1] }}+" class="-" type="button">-</button>
      <input id="{{ pizza[1] }}-amount" value="0" name="{{ pizza[0] }}" type="number" class="qtynum" readonly>
      <button id="{{ pizza[1] }}-" class="+" type="button">+</button>
    </td>
  </tr>
  {% endfor %}
</table>

<div style="align-items: left;"><span>Total items in cart: <span id="numitems">0</span></p></div>
<div style="align-items: center"><a><button type="submit">Proceed to checkout</button></a></div>
<div style="align-items: right"><p>Total price: $<span id="totprice">0</span></p></div>

</form>

{% endblock %}

