{% extends "layout.html" %}
{% block content %}

<form id="order_pizzas" action="/" method="post">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}">

<table>
  {% for pizza in content %}
  <tr id="{{ pizza[1] }}">
    <td class="pizza-img long hidden"><img src="{{ url_for('static', filename='assets/{% pizza[0] %}.png') }}"></td>
    <td class="pname">{ pizza[1] }</td>
    <td class="descrip long hidden">{ pizza[3] }</td>
    <td class="price">${ pizza[2] }</td>
    <td class="qty">
      <p>Qty:</p>
      <button id="{{ pizza[1] }}+" class="-" onclick="minusQty">-</button>
      <input id="{{ pizza[1] }}-amount" value="0" name="{{ pizza[1] }}" type="number" class="qtynum" readonly>
      <button id="{{ pizza[1] }}-" class="+" onclick="addQty">+</button>
    </td>
  </tr>
  {% endfor %}
</table>

<div style="align-items: left;"><p>Total items in cart:</p><p id="numitems">0</p></div>
<div style="align-items: center"><a><button type="submit">Proceed to checkout</button></a></div>
<div style="align-items: right"><p>Total price:</p><p id="totprice">0</p></div>

</form>

{% endblock %}

<script>
  function addQty(evt) {
    evt.target.parentElement.getElementByClassName('qtynum').value += 1;
    numitems.textContent = parseInt(numitems.textContent) + 1;
    totprice.textContent = parseInt(evt.target.parentElement.parentElement.getElementByClassName('price').textContent) + parseInt(totprice.textContent);
  }

  function minusQty(evt) {
    evt.target.parentElement.getElementByClassName('qtynum').value -= 1;
    numitems.textContent = parseInt(numitems.textContent) - 1;
    totprice.textContent = parseInt(evt.target.parentElement.parentElement.getElementByClassName('price').textContent) + parseInt(totprice.textContent);
  }

function expand(evt) {
  evt.target.parentElement.querySelectorAll('.long').forEach(el => {
    el.classList.toggle('hidden')
  })
}

function addExpToAll() {
  document.querySelectorAll('td').forEach(el => {
    if (!('qty' in el.classList)) {
      el.onlick = expand
    }
  })
}

document.addEventListener('DOMContentLoaded', addExpToAll)

</script>


<script src="{{ url_for('static', filename='app.js') }}"></script>
