{% extends "layout.html" %}
<main>
{% block content %}
<form method="post" class="box">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  <input type="text" name="number" id="number" placeholder="Enter credit card number" class="number" inputmode="numeric" maxlength="16">
  <input type="text" name="sec-code" id="code" placeholder="Enter card security code" maxlength="3" class="number" inputmode="numeric">
  <input type="number" name="money" id="money" placeholder="Enter how much you want to deposit"><br>
  <button type="submit">Submit payment</button>
</form>
{% endblock %}
</main>
