{% extends "layout.html" %}
{% block error %}

<main>

<form action="/signup.html" method="post" class="box">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  <input type="text" name="email" id="email" placeholder="Email">
  <input type="text" name="username" id="username" placeholder="Username">
  <input type="password" name="password" id="pw" placeholder="Password"><br>
  <p id="errorfb">{{ error }}</p>
  <p id="error"></p><br>
  <button type="submit" id="submit" disabled="true">Sign up</button>
</form>

</main>
{% endblock %}
